:root {
    --primary-black-text-color: #131313;
    --primary-white-text-color: #FCFCFC; 
    --footer-copirate-taxt-color: #7A7A7A;
    --contacts-secondory-text-color: #D6936D;;
    --accsent-color: #F8D24E;
    --primary-background-color: #84A178;
    --button-default-color: #F8D24E;
    --button-hover-focus-color: #0A8817;
    --button-disabled-color: #ABABAB;
    --product-green-bg-color: #AEC6A5;
    --product-yellow-bg-color: #EFD478;
    --product-brown-bg-color: #D6936D;
    --modal-extra-inform-bg-color: #9CBE8F;
    
    --timing-functione: cubic-bezier(0.4, 0, 0.2, 1);
    --tittle-fonts: 'Seymour One';
    --primaty-fonts: 'Montserrat';
}