:root {
  --primary-black-text-color: #131313;
  --primary-white-text-color: #fcfcfc;
  --footer-copirate-taxt-color: #7a7a7a;
  --contacts-secondory-text-color: #d6936d;
  --accsent-color: #f8d24e;
  --primary-background-color: #84a178;
  --button-default-color: #f8d24e;
  --button-hover-focus-color: #0a8817;
  --button-disabled-color: #ababab;
  --product-green-bg-color: #aec6a5;
  --product-yellow-bg-color: #efd478;
  --product-brown-bg-color: #d6936d;
  --product-green-bg-color-modal: #96AF8C;
  --modal-extra-inform-bg-color: #9cbe8f;

  --timing-functione: cubic-bezier(0.4, 0, 0.2, 1);
  --tittle-fonts: 'Seymour One';
  --primaty-fonts: 'Montserrat';
}
