<section class="Advantages-section">
  <div class="Advantages-section__container">
    <h2 class="Advantages-section__title visually-hidden">Advantages</h2>
    <ul class="Advantages__list">
      <li class="Advantages__items">
        <h3 class="Advantages__tittle">721</h3>
        <p class="Advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="Advantages__items">
        <h3 class="Advantages__tittle">16kg</h3>
        <p class="Advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="Advantages__items">
        <h3 class="Advantages__tittle">84</h3>
        <p class="Advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
