<section class="advantages-section">
  <div class="container conteiner-advantages">
    <h2 class="advantages-section__title visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages-list__item icon-cow">
        <h3 class="advantages__tittle">721</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item icon-weight">
        <h3 class="advantages__tittle">16kg</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item icon-ice-creme">
        <h3 class="advantages__tittle">84</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
