<section class="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item contacts__item__up">
        <p class="contacts__item_category contacts__item_category-cafe-l">
          CAFE
        </p>
        <p class="contacts__city">Chicago</p>
        <a
          class="contacts__item_adress contacts__item_adress-l link"
          href="https://goo.gl/maps/bzEYPVhkDpvj46D56"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <div class="contacts__days-schedule">
          <p class="contacts__item_days">Monday - Friday</p>
          <p class="contacts__item_schedule contacts__item_schedule-d">
            06:00 AM - 10:00 PM
          </p>
          <p class="contacts__item_days">Saturday - Sunday</p>
          <p class="contacts__item_schedule contacts__item_schedule-w">
            08:00 AM - 16:00 PM
          </p>
        </div>

        <a class="contacts__phone-mail" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__phone-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__item contacts__item__food">
        <p class="contacts__item_category contacts__item_category-food">
          FOOD TRUCK
        </p>
        <p class="contacts__city">Los Angeles</p>
        <a
          class="contacts__item_adress link"
          href="https://goo.gl/maps/KPDiQw5eiVwaHSaZ6"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <div class="contacts__days-schedule">
          <p class="contacts__item_days">Monday - Friday</p>
          <p class="contacts__item_schedule contacts__item_schedule-d">
            06:00 AM - 10:00 PM
          </p>
          <p class="contacts__item_days">Saturday - Sunday</p>
          <p class="contacts__item_schedule contacts__item_schedule-w">
            08:00 AM - 16:00 PM
          </p>
        </div>
        <a class="contacts__phone-mail link" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__phone-mail link" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__item">
        <p class="contacts__item_category contacts__item_category-cafe-r">
          CAFE
        </p>
        <p class="contacts__city">New York</p>
        <a
          class="contacts__item_adress link"
          href="https://goo.gl/maps/CECugwAjkUngwzsn6"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <div class="contacts__days-schedule">
          <p class="contacts__item_days">Monday - Friday</p>
          <p class="contacts__item_schedule contacts__item_schedule-d">
            06:00 AM - 10:00 PM
          </p>
          <p class="contacts__item_days">Saturday - Sunday</p>
          <p class="contacts__item_schedule contacts__item_schedule-w">
            08:00 AM - 16:00 PM
          </p>
        </div>
        <a class="contacts__phone-mail link" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__phone-mail link" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contacts__buttons">
      <button type="button" class="contacts__btn-location">
        <span class="contacts__btn-loc-txt">Our Locations</span>
        <svg class="contacts__icon" width="12px" height="12px">
          <use href="./images/sprite.svg#icon_arrow_in_button"></use>
        </svg>
      </button>
      <button type="button" class="contacts__btn-franchise">
        <span class="contacts__btn-fran-txt">Franchise</span>
        <svg class="contacts__icon" width="12px" height="12px">
          <use href="./images/sprite.svg#icon_arrow_in_button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>