<section class="reviews  ">
    <div class="container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="reviews__wrapper">
            <div class="reviews__items">
                <div class="reviews__item">
                    <div class="slider reviews__container">
                        <picture>
                            <source srcset="./images/cl_emily@1x.jpg 1x, ./images/cl_emily@2x.jpg 2x" />
                            <img class="slider__photo-customer" src="./images/cl_emily@1x.jpg" alt="photo customer" />
                        </picture>
                        <p class="slider__reviews">I love visiting your cafe.
                            You prepare the most delicious ice cream in Los Angeles!
                            In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                        <p class="slider__info-customer">Emily, Los Angeles</p>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="slider reviews__container">
                        <picture>
                            <source srcset="./images/cl_bryan@1x.jpg 1x, ./images/cl_bryan@2x.jpg 2x" />
                            <img class="slider__photo-customer" src="./images/cl_bryan@1x.jpg" alt="photo customer" />
                        </picture>
                        <p class="slider__reviews">Every day we come to you with friends after classes in college. We
                            love
                            your ice cream and casual atmosphere!</p>
                        <p class="slider__info-customer">Bryan, New-York</p>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="slider reviews__container">
                        <picture>
                            <source srcset="./images/cl_diana@1x.jpg 1x, ./images/cl_diana@2x.jpg 2x" />
                            <img class="slider__photo-customer" src="./images/cl_diana@1x.jpg" alt="photo customer" />
                        </picture>
                        <p class="slider__reviews">Ice cream is my passion! I love your chocolate hazelnut ice cream!
                            And I
                            really like the excellent service - always served politely and quickly!
                        </p>
                        <p class="slider__info-customer">Diana, Chicago</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="reviews__btn reviews__btn_prev" href="#" role="button" data-slide="prev"></a>
        <a class="reviews__btn reviews__btn_next" href="#" role="button" data-slide="next"></a>
    </div>
</section>