<footer class="footer-page"> <div class="container">
      <p class="footer__subtitle">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="https://github.com/" target="_blank">
            <svg aria-label="icon github">
              <use href="./images/symbol-defs.svg#icon_github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://telegram.org/" target="_blank">
            <svg aria-label="icon telegram">
              <use href="./images/symbol-defs.svg#icon_telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://www.facebook.com/" target="_blank">
            <svg aria-label="icon facebook">
              <use href="./images/symbol-defs.svg#icon_facebook">
            </svg>
          </a>
        </li>
      </ul>
      <p>
        Feel free to contact &nbsp;<a href="tell:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </p>
      <p>&#169; 2022 - IceCream. All Rights Reserved.</p>
      </div>
    </footer>