<section class="gallery-section">
  <div class="gallery-section__conteiner">
    <h2 class="gallery-section__title visually-hidden">Gallery</h2>
    <picture class="gallery-section__picture">
      <source srcset="
          ./images/ice_cream_dt.@1x.jpg 1x,
          ./images/ice_cream_dt.@2x.jpg 2x
        " media="(min-width: 1200px)" />
      <source srcset="
          ./images/ice_cream_tb.@1x.jpg 1x,
          ./images/ice_cream_tb.@2x.jpg 2x
        " media="(min-width: 768px)" />
      <source srcset="
          ./images/ice_cream_mb.@1x.jpg 1x,
          ./images/ice_cream_mb.@2x.jpg 2x
        " media="(max-width: 767px)" />
      <img class="gallery-section__imeg" src="./images/ice_cream_mb.@1x.jpg" alt="ice-creams" />
    </picture>
  </div>
</section>