<header class="page-header">
  <div class="container">
    <a class="logo" href="https://katyandry.github.io/ice-cream/">
      <img
        class="logo__icon"
        href=""
        aria-label="сompany`s logo"
        width="40"
        height="37"
      />
    </a>
    <button class="button button__open-mobile-navigation" type="button">
      <svg
        class="button__open-icon"
        aria-label="open button"
        width="32"
        height="32"
      >
        <use href="#"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          Home
          <a name="Home" href="#"></a>
        </li>
        <li class="navigation__item">
          How its made?
          <a name="about" href="#"></a>
        </li>
        <li class="navigation__item">
          Our products
          <a name="products" href="#"></a>
        </li>

        <li class="navigation__item">
          Contact
          <a name="contact" href="#"></a>
        </li>
      </ul>
    </nav>
    <button class="button" type="button">Buy now</button>
  </div>
  <div class="mobile-navigation">
    <div class="container">
      <a class="logo" href="https://katyandry.github.io/ice-cream/">
        <img
          class="logo__icon"
          href=""
          aria-label="сompany`s logo"
          width="40"
          height="37"
        />
      </a>
      <button class="mobile-navigation__close-button" type="button">
        <svg
          class="mobile-navigation__close-icon"
          aria-label="close-button"
          width="32"
          height="32"
        >
          <use href="#"></use>
        </svg>
      </button>
      <ul class="mobile-navigation__list list">
        <li class="mobile-navigation__item">
          Home
          <a name="Home" href="#"></a>
        </li>

        <li class="mobile-navigation__item">
          How its made?
          <a name="about" href="#"></a>
        </li>
        <li class="mobile-navigation__item">
          Our products
          <a name="products" href="#"></a>
        </li>
        <li class="mobile-navigation__item">
          Contact
          <a name="contact" href="#"></a>
        </li>
      </ul>
      <button class="button" type="button">Buy now</button>
    </div>
  </div>
</header>
