<div id="modal-how-its-made" class="backdrop is-hidden" data-modal-how-its-made>
    <div class="modal modal__how-its-made">
        <button type="button" class="modal__close-button" data-modal-how-its-made-close>
            <svg class="modal-close-btn" width="8.9px" height="8.9px">
                <use href="./images/sprite.svg#icon_close"></use>
            </svg>
        </button>
        <h4 class="modal__title-how">How it’s made?</h4>
        <div class="video">
            <div class="video__player">
                <iframe class="video__frame" src="https://www.youtube.com/watch?v=0qJtX99vkrA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <p class="modal__report"> The factory receives raw materials: whole milk, butter, vanilla, sugar, cocoa. Before
            getting caught to the production shop, future ingredients undergo a thorough inspection check.</p>
    </div>
</div>