<div class="backdrop is-hidden" data-modal-franchise>
  <div class="modal-franchise">
    <button type="button" class="modal-close-btn" data-modal-franchise-close>
      <svg class="modal-close-btn-icon" width="20px" height="20px">
        <use href="./images/sprite.svg#icon_close"></use>
      </svg>
    </button>

    <p class="modal-franchise__thanks">
      Thank you for your interest in owning an Ice Cream shop
    </p>

    <p class="modal-franchise__txt-info">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="modal-franchise__form">
      <label class="modal-franchise-form-field">
        <input
          type="text"
          name="user_name"
          class="modal-franchise__form-input"
          required
          pattern="[a-zA-Zа-яА-Я]+"
          minlength="2"
          placeholder="Name"
        />
      </label>
      <label class="modal-franchise__form-field">
        <input
          type="tel"
          name="user_phone"
          class="modal-franchise__form-input"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
          placeholder="Phone"
        />
      </label>
      <label class="modal-franchise__form-field">
        <input
          type="email"
          class="modal-franchise__form-input"
          name="user_email"
          placeholder="Email"
        />
      </label>
      <label
        class="modal-franchise__form-field modal-franchise__form-field-text-area"
      >
        <textarea
          name="user_message"
          class="modal-franchise__form-message"
          placeholder="Comment"
        ></textarea>
      </label>

      <button type="submit" class="modal-franchise__btn">
        <span class="modal-franchise__btn-txt">Submit</span>
      </button>
    </form>
  </div>
</div>
