<section class="products"> 
<div class="container">
    <div class="products__wrapper">
      
        <h1 class="products__title">products</h1>

        <ul class="products__list">
            <div class="products-list__box">
            <li class="products__item"><h3 class="products__subtitle">ice cream</h3></li>
            <li class="products__item"><p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p></li>
            <svg class="products__arrow" aria-label="arrow" width="40" height="0">
                <use href="./images/sprite.svg#icon_arrow_def"></use>
              </svg>
            </div>
        </ul>
    </div>
</div>
</section>