.contacts__title {
  display: none;
}

.contacts {
  background-color: var(--primary-background-color);
}
.contacts__container {
  position: relative;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    position: absolute;
    flex-direction: row;
    top: -315px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    flex-direction: row;
    top: -95px;
  }
}

.contacts__item {
  width: 280px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--primary-white-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:last-child {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  @media screen and (min-width: 768px) {
    width: 224px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 40px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 368px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.contacts__item__up {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contacts__item__food {
  margin-top: 87px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.contacts__item_category {
  height: 16px;
  border-radius: 4px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: var(--button-default-color);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-black-text-color);

  @media screen and (min-width: 768px) {
    height: 28px;
    font-size: 16px;
  }
}

.contacts__item_category-food {
  width: 130px;

  @media screen and (min-width: 768px) {
    width: 138px;
    margin-bottom: 32px;
  }
}

.contacts__item_category-cafe-l {
  width: 80px;

  @media screen and (min-width: 768px) {
    width: 73px;
    margin-bottom: 32px;
  }
}

.contacts__item_category-cafe-r {
  width: 80px;

  @media screen and (min-width: 768px) {
    width: 73px;
    margin-bottom: 32px;
  }
}

.contacts__city {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  color: var(--primary-black-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.contacts__item_adress {
  width: 212px;
  height: 36px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--contacts-secondory-text-color);

  @media screen and (min-width: 768px) {
    width: 158px;
    height: 65px;
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts__item_adress {
  &:after {
    content: '';
    width: 100%;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 24px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      width: 176px;
      margin-top: 32px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
      width: 288px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

.contacts__item_adress-l {
  width: 190px;
  height: 36px;
  @media screen and (min-width: 768px) {
    width: 173px;
    height: 71px;
  }
}

.contacts__item_adress-l {
  &:after {
    content: '';
    width: 216px;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 24px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      width: 176px;
      margin-top: 32px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
      width: 288px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

.contacts__item_days {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--primary-black-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts__item_schedule {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--button-disabled-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts__days-schedule {
  &:after {
    content: '';
    width: 216px;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 24px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      width: 176px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

.contacts__phone-mail {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--primary-black-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts__btn-location {
  width: 196px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;

  margin-bottom: 16px;

  &:hover {
    background: var(--button-hover-focus-color);
  }

  &:focus {
    background: var(--button-hover-focus-color);
    color: var(--primary-white-text-color);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.contacts__btn-loc-txt {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #131313;
  margin-right: 10px;
}

.contacts__btn-franchise {
  width: 196px;
  height: 42px;
  background: #84a178;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  margin-bottom: 39px;
  &:hover {
    border: 2px solid var(--button-hover-focus-color);
  }
  &:focus {
    border: 2px solid var(--button-hover-focus-color);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.contacts__btn-fran-txt {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #131313;
  margin-right: 10px;

  &:focus {
    color: var(--primary-white-text-color);
  }
}

.contacts__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    margin-top: 252px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 478px;
    margin-bottom: 120px;
  }
}

.contacts__item_schedule-d {
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    font-size: 14px;
  }
}
