.page-header {
  position: relative;
  background-color: var(--primary-background-color);
}

.container__header {
  padding: 16px 20px;
}

.logo__icon {
  color: var(--accsent-color);
  width: 37px;
  height: 40px;
}

.button__open-mobile-navigation {
  background-color: inherit;
  border: none;

  // &:focus, &:hover{
  //   fill:var(--accsent-color)
  // }
}

.position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--mobile-container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: none;
}

.mobile-navigation__close-button {
  background-color: inherit;
  border: none;
  fill: #fff;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 111px;
}

.mobile-navigation__item {
  text-align: center;
  font-family: var(--primaty-fonts);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: var(--primary-white-text-color);
  transition: color var(--timing-functione) 250ms;

  &:focus,
  &:hover {
    color: var(--primary-black-text-color);
  }
}

.button__base {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 152px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  border: none;
  background-color: var(--accsent-color);

  font-family: var(--primaty-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  color: var(--primary-black-text-color);
  transition: background-color var(--timing-functione) 250ms,
    color var(--timing-functione) 250ms;

  &:hover {
    background-color: var(--button-hover-focus-color);
  }
  &:focus {
    background-color: var(--button-hover-focus-color);
    color: var(--primary-white-text-color);
  }
}

.mobile-navigation--button-icon {
  height: 12px;
  width: 12px;
  margin-left: 7px;
  transition: fill var(--timing-functione) 250ms;

  .button__base:focus & {
    fill: var(--primary-white-text-color);
  }
}

.button--buy-now {
  display: none;
}

.mobile-navigation__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.mobile-navigation--button {
  margin-bottom: 63px;
}

.mobile-navigation {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-background-color);
  transform: translateX(-100%);
  visibility: hidden;
  pointer-events: none;
  transition: transform var(--timing-functione) 250ms,
    visibility var(--timing-functione) 250ms;
}

.is-open {
  transform: translateX(0%);
  visibility: visible;
  pointer-events: auto;
  transition: transform var(--timing-functione) 250ms;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px 24px;
  }

  .logo__icon {
    width: 44px;
    height: 48px;
  }
  .mobile-navigation--button {
    display: none;
  }

  .mobile-navigation__item {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }
  .button--buy-now {
    display: flex;

    margin-left: 32px;
    margin-right: 0;
  }
  .container--mobile-container {
    display: flex;
    justify-content: start;
  }
  .button__open-mobile-navigation {
    margin-left: auto;
  }

  .mobile-navigation__container {
    margin-bottom: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 16px;
  }

  .logo__icon {
    width: 60px;
    height: 65px;
  }

  .navigation {
    display: flex;
  }

  .button__open-mobile-navigation {
    display: none;
  }
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 27px;
}

.navigation__link {
  font-family: var(--primaty-fonts);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-text-color);
  transition: color var(--timing-functione) 250ms;

  .navigation__item:focus &,
  .navigation__item:hover & {
    color: var(--accsent-color);
  }
}
