.page-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  z-index: 20;
  min-width: 240px;
}

@media screen and(max-width: 480px) {
  .page-header {
    width: 100%;
  }
}

.logo__icon {
  color: var(--accsent-color);
  width: 37px;
  height: 40px;
}

.button__open-mobile-navigation {
  background-color: inherit;
  border: none;
  padding: 0;
  margin-left: auto;
}

.navigation {
  display: none;
}

.button__base {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 152px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  border: none;
  background-color: var(--accsent-color);

  font-family: var(--primaty-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  color: var(--primary-black-text-color);
  transition: background-color var(--timing-functione) 250ms,
    color var(--timing-functione) 250ms;

  &:hover {
    background-color: var(--button-hover-focus-color);
  }
  &:focus {
    background-color: var(--button-hover-focus-color);
    color: var(--primary-white-text-color);
  }
}

.mobile-navigation--button-icon {
  height: 12px;
  width: 12px;
  margin-left: 7px;
  stroke: currentColor;
  transition: stroke var(--timing-functione) 250ms;

  .button__base:focus & {
    stroke: var(--primary-white-text-color);
  }
}

.button--buy-now {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.container__mobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-navigation {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-background-color);
  transform: translateX(-100%);
  visibility: hidden;
  pointer-events: none;
  transition: transform var(--timing-functione) 250ms,
    visibility var(--timing-functione) 250ms;
}

.is-open {
  transform: translateX(0%);
  visibility: visible;
  pointer-events: auto;
  transition: transform var(--timing-functione) 250ms;
}

.mobile-navigation__close-button {
  background-color: inherit;
  border: none;
  padding: 0;
  fill: #fff;
}

.mobile-navigation__container-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.position-list-btn {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 63px;
  padding-top: 50px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-navigation__item {
  text-align: center;
  font-family: var(--primaty-fonts);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: var(--primary-white-text-color);
}

.mobile-navigation__link {
  transition: color var(--timing-functione) 250ms;

  &:focus,
  &:hover {
    color: var(--primary-black-text-color);
  }
}

.mobile-navigation--button {
  margin-bottom: 63px;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .logo__icon {
    width: 44px;
    height: 48px;
  }
  .mobile-navigation--button {
    display: none;
  }

  .mobile-navigation__item {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }
  .button--buy-now {
    display: flex;
    margin-left: 32px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo__icon {
    width: 60px;
    height: 65px;
  }

  .button--buy-now {
    margin-left: 0;
  }

  .navigation {
    display: flex;
  }

  .button__open-mobile-navigation {
    display: none;
  }
  .container__mobile {
    width: 60px;
  }
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 27px;
}

.navigation__link {
  font-family: var(--primaty-fonts);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-text-color);
  transition: color var(--timing-functione) 250ms;

  &:focus,
  &:hover {
    color: var(--accsent-color);
  }
}
