.hero {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 240px;
}

.hero__container {
  position: relative;
}

.hero__title {
  width: 250px;
  font-style: normal;
  font-family: var(--tittle-fonts);
  font-size: 26px;
  line-height: 1.27;
  color: var(--primary-white-text-color);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.hero__title-secondary {
  font-size: 34px;
  line-height: 0.97;
}

.hero__link {
  display: flex;
  align-items: center;
}

.hero__link-products {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  border: 2px solid var(--button-default-color);
  border-radius: 8px;
  padding: 7px 16px;
  margin-right: 8px;
  cursor: pointer;

  &:hover {
    border: 2px solid var(--button-hover-focus-color);
  }

  &:focus {
    border: 2px solid var(--button-hover-focus-color);
    color: var(--primary-white-text-color);
  }
}

.hero__link-how {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: var(--accsent-color);
  padding-bottom: 0;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--button-hover-focus-color);
  }

  &:focus {
    color: var(--primary-white-text-color);
  }
}

.hero__amout-of-property {
  display: none;
}

.hero__property {
  display: none;
}

.hero__plate {
  display: none;
}

.hero__ice-cream-info {
  display: none;
}

.hero__btn {
  display: none;
}

.hero__btn--hover {
  display: none;
}

.hero__btn--focus {
  display: none;
}

.hero__ice-cream {
  width: 72%;
  height: 232%;
  position: absolute;
  bottom: -301px;
  left: 70px;
}

.hero__dots {
  width: 100%;
  height: 41%;
  position: absolute;
  bottom: -240px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 28px;
  }

  .hero__title {
    font-size: 18px;
    width: 180px;
    margin-bottom: 20px;
  }

  .hero__title-secondary {
    font-size: 24px;
    line-height: 0.54;
  }

  .hero__link {
    margin-bottom: 28px;
  }

  .hero__content {
    display: flex;
    justify-content: space-between;
  }

  .hero__ownership {
    width: 80px;
    text-align: right;
  }

  .hero__amout-of-property {
    display: inline-block;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.2;

    text-transform: uppercase;
  }

  .hero__property {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: right;
    color: var(--primary-white-text-color);
  }

  .hero__plate-info {
    display: flex;
    align-items: center;
  }

  .hero__plate {
    display: inline-block;
    border-radius: 50%;
    margin-right: 33px;
  }

  .hero__ice-cream-info {
    display: inline-block;
    width: 150px;
    font-size: 12px;
    line-height: 1.4;
    color: var(--primary-white-text-color);
  }

  .hero__btn {
    display: block;
    background-color: transparent;

    &:hover,
    &:focus {
      display: none;
    }
  }

  .hero__arrow {
    display: block;
    fill: var(--primary-white-text-color);
    width: 40px;
    height: 10px;
  }

  .hero__btn--hover:hover {
    background-color: transparent;
    display: block;
    width: 40px;
    height: 10px;
  }

  .hero__arrow--focus:focus {
    background-color: transparent;
    display: block;
    fill: var(--primary-white-text-color);
    width: 40px;
    height: 10px;
  }

  .hero__ice-cream {
    width: 50%;
    height: 125%;
    bottom: -42px;
    left: 345px;
  }

  .hero__dots {
    bottom: 22px;
    left: -21px;
    width: 100%;
    height: 18%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__ice-cream {
    width: 30%;
    height: 100%;
    bottom: -28px;
    left: 668px;
  }

  .hero__dots {
    width: 100%;
    height: 78%;
    bottom: -5px;
    left: -3px;
  }
}
