.modal__how-its-made {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 60px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    width: 459px;
  }

  @media screen and (min-width: 1200px) {
    width: 568px;
  }
}

.modal__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  margin-bottom: 32px;
}

.video {
  display: block;
  position: relative;
  margin-bottom: 32px;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.video__frame {
  width: 448px;
  height: 205px;
  border-radius: 10px;

  // @media screen and (max-width: 768px) {
  //     width: 224px;
  //       height: 199px;}

  // @media screen and (min-width: 768px) {
  //   width: 448px;
  //     height: 205px;
  //   }

}

.modal__report {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: var(--primary-black-text-color);
}

@media screen and (max-width: 767px) {
  .video {
    margin-bottom: 20px;
  }

  .video__frame {
    width: 228px;
    height: 199px;
    background-color: var(--primary-black-text-color);
  }

  .modal__report {
    // width: 448px;
    // height: 88px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    color: #131313;


  }
}