.video {
  display: block;
  position: relative;
  margin-bottom: 32px;
}

.video__frame {
  width: 448px;
  height: 205px;
  border-radius: 10px;
}

.modal__report {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: var(--primary-black-text-color);
}

@media screen and (max-width: 767px) {
  .video {
    margin-bottom: 20px;
  }

  .video__frame {
    width: 228px;
    height: 199px;
    background-color: var(--primary-black-text-color);
  }

  .modal__report {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
  }
}
